.env
venv/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

history.db
history.db-*
users.json
admins.json
channels.json
backups/
cookies.txt

downloads/
*.mp4
*.mp3
*.m4a
*.ogg
*.webm
*.zip
